<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Montserrat:300i,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" type="text/css">
    <link rel="stylesheet" href="/style.css">
    <title>Movie collection</title>
</head>
<body>
        <div class="ui top attached inverted menu">
            <div class="ui inverted secondary left menu">
                 <div class="ui item link padding-m">
                    <a href="/"><i class="ui icon film"></i></a> 
                </div> 
            </div> 
            <div class="ui inverted right secondary menu">
                <div class="ui item link padding-m">
                    <a href="/">HOME</a>
                </div>
                <div class="ui item link padding-m">
                    <a href="/movie/new">ADD MOVIE</a>
                </div>
                <div class="ui item link padding-m margin-r-menu">
                    <a href="/movie">SHOW MOVIE</a>
                </div>
            </div>
        </div> 
          
              
    
